body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#stats {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}